@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
    --negro: #252525;
    --amarillo: #FFA400;
    --rojo-cherry: #FC2933;
    --blanco: #FFFFFF;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style-type: none;
background-color: var(--negro);
}

header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;  
    position:sticky ;
    position: -webkit-sticky;
    top: 0; 
    }


.logo_navbar{
    height: 100px;
    justify-content: start;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 10px;
}

.navbar, .navbar_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
}

.navbar_list li {
align-items: flex-end;
color: transparent;
background: linear-gradient(to left,#FFA400 ,#FC2933 );
-webkit-background-clip: text;
font-size: 20px;
font-family: bree Serif;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-weight: 400;
    padding: 10px;
    font-family: bree Serif;
    font-size: 35px;
}

#main-container {
    margin-top: 50px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.card {
    width: 300px;
    border-radius: 1rem;
    padding: 10px;
    background-color: linear-gradient(to right ,#FFA400 ,#FC2933 );
}

.card-pizza h2 {
    font-size: 30px;
    font-family: bree Serif;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    background: linear-gradient(to right ,#FFA400 ,#FC2933 ) ;
    border-radius: 1rem 1rem 0rem 0rem;
}

.card-pizza img {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10px;
    align-items: center;
    background: linear-gradient(to right ,#FFA400 ,#FC2933 );
    /* border-radius: 1rem; */
    border-radius: 0rem 0rem 1rem 1rem;
}


.list-container {
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: center;
    font-family: bree Serif;
    font-size: 20px;

}

.list-container li {
    color: transparent;
    background: linear-gradient(to bottom right,#FFA400 ,#FC2933 );
    -webkit-background-clip: text;
}

.pizza-seleccion {
    color: transparent;
    background: linear-gradient(to bottom right,#FFA400 ,#FC2933 );
    -webkit-background-clip: text; 
    align-items: center;
    justify-content: center;
    font-family: bree Serif;
    display: flex;
    font-size: 30px;
    padding-top: 50px;
}


.botoncito {
 background: linear-gradient(to bottom right,#FFA400 ,#FC2933 );
 width: 70px;
 font-size: 12px;
 font-family: bree Serif;
 color:transparent;
 -webkit-background-clip: text; 
 border-radius: 5px;
 border-color: #a2a2a2;
 align-items: center;
 justify-content: center;
 display: flex;
 flex-direction: column;
 padding: 5px;
}

.botoncito:hover {
background: linear-gradient(to bottom right,#FC2933 ,#FFA400 );
color: white;}

#form {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

#selection {
    width: 72px ;
    background-color: white;
}